:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   /* (1)Este va de la mano con (2)*/
  }
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body{
    font-size: 16px;  /* (2)Este va de la mano con (1). Con el fin de que 1rem=10px */
}